{% extends 'base.html' %}
{% block self_head_css_js %}
<script src="/static/layer/layer.js"></script>
<script src="/static/js/base.js"></script>
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/static/plugins/datatables/dataTables.bootstrap.css"></script>
{% endblock %}
{% block content %}


<script>
    window.onload=init;
    function init() {
        showhide(2);
    }
    function showhide(n) {
        var box = document.getElementById("accounts");
        box.className="active";
        var box = document.getElementById("permission");
        box.className="active";
    }

</script>



<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                {% csrf_token %}
                <div class="box">
                    <div class="box-header">

                        <h3 class="box-title"><a href="{% url 'permission_add' %}">
                            <li class="btn btn-success"><b>添加权限</b></li>
                        </a></h3>

                    </div>


                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="dataform" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>权限名称</th>
                                <th>URL</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for permission in all_permission %}
                            <tr>
                                <td>{{ permission.name }}</td>
                                <td>{{ permission.allowed_url }}</td>
                                <td class="text-center">
                                    <a href="{% url 'permission_edit' permission.id %}">
                                        <li class="btn btn-sm btn-info" onclick="return tanchu(this.value)"
                                            value="{{ permission.id }}">编辑
                                        </li>
                                    </a>
                                    <a value="{% url 'permission_del' permission.id %}" class="btn btn-sm btn-danger permission_del">删除</a>

                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>


<script>
    $(document).ready(function(){
        $('.permission_del').click(function(){
            var row = $(this).closest('tr');
            if (confirm("确定删除?")) {
                $.get(
                        $(this).attr('value'),
                        {},
                        function (data) {
                            row.remove()
                        }
                );
                layer.msg('删除成功！',{
                    icon: 1,
                    time: 1000 //2秒关闭（如果不配置，默认是3秒）
                },function(){
                    history.go(0);
                });
            }
        });
    });




</script>


{% endblock %}