{% extends 'base.html'%}
{% load mytags %}
{% block self_head_css_js %}
<script src="/static/layer/layer.js"></script>
<script src="/static/js/base.js"></script>
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/static/plugins/datatables/dataTables.bootstrap.css"></script>

{% endblock %}

{% block content %}
<script>
    window.onload=init;
    function init() {
        showhide(2);
    }
    function showhide(n) {
        var box = document.getElementById("monitor");
        box.className="active";
        var box = document.getElementById("dashboard");
        box.className="active";
    }


</script>


<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        {% csrf_token %}
        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-striped table-bordered" id="dataform">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>主机名</th>
                        <th>管理IP</th>
                        <th>CPU</th>
                        <th>内存(G)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for host in all_asset %}
                    <tr class="even gradeX">
                        <td>{{ host.id }}</td>
                        <td><a href="#">
                            <li style="list-style-type:none" onclick="return detail(this.value)"
                                value="{{ host.id }}"> {{ host.name }}
                            </li>
                        </a></td>
                        <td>{{ host.ip_addr }}</td>
                        <td>{{ host.ip }}</td>
                        <td>{{ host.cpu_num }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
               </div>
        </div>
    </section>
    <!-- /.content -->
    {#用于接收asset_edit.html中layui子层的传值#}
    <input id="handle_status" value="" hidden="hidden">
</div>

<script>
  $(function () {
    $("#example1").DataTable();
    $('#dataform').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": true
    });
  });

</script>

{% endblock %}

